{% extends 'base.html.twig' %}
{% block titulo %}Lista de Tareas{% endblock %}
{% block menu_tickets %}class="active"{% endblock %}
{% block body %}
    <div class="contenedor_barra_filtro float_right">
        <input type="text" class="filtro" placeholder="Filtrar">
        <i class="fa fa-hashtag"></i>
        <span class="cantidad_filtro"></span>
        <select name="categorias" class="categorias" id="">
            <option value="">ESTADO</option>
            <option value="PENDIENTE">PENDIENTE</option>
            <option value="EN_PROCESO">EN PROCESO</option>
            <option value="TERMINADO">TERMINADO</option>
        </select>
    </div>
    <h1 class="alinear_izquierda">LISTA TODOS LOS TICKETS</h1>
    <table id="tabla_datos" class="table table-condensed table-hover table-responsive table-striped" style="text-align: left;">
        <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Solicitante</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets  %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.fechaCreado|date("m/d/Y") }}</td>
                <td>{{ ticket.usuario.nombre }}</td>
                <td>{{ ticket.estado }}</td>
                <td>
                    <a href="{{ 'ver_ticket/' }}{{ticket.id}}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-eye-open"></span>&Tab;VER</a>
                    {% if ticket.estado == "PENDIENTE" %}
                        <a href="#" class="btn btn-primary boton_iniciar_tarea btn-sm" class="datos_ticket" data-id_ticket="{{ ticket.id }}" data-id_solicitante="{{ ticket.usuario.id }}" data-id_asignado="{{ ticket.usuarioAsignadoId }}" data-id_usuario_nota="{{ app.user.id }}">INICIAR</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Paginacion -->
    <div class="contenedor_paginacion_jquery">
        <div id="paginacion_jquery" class="paginacion_jquery">
            <form>
                <span class="first fa fa-angle-double-left boton_paginacion_jquery texto_blanco" title="Primera"></span>
                <span class="prev glyphicon glyphicon-menu-left boton_paginacion_jquery texto_blanco" title="Anterior"></span>
                <input type="text" class="pagedisplay texto_negrita" size="8"/>
                <span class="next glyphicon glyphicon-menu-right boton_paginacion_jquery texto_blanco" title="Siguiente"></span>
                <span class="last fa fa-angle-double-right boton_paginacion_jquery texto_blanco" title="Ultima"></span>
                <select class="pagesize seleccion texto_negrita">
                    <option value="20">Ver..</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="80">80</option>
                    <option value="150">150</option>
                    <option value="500">500</option>
                    <option value="9999">Todo</option>
                </select>
                <strong>Total : </strong><span id="total_filas">{{ tickets|length }}</span>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            /**
             * Filtrar en los materiales disponibles,
             * Envia a la funcion el valor a filtrar y el elmento donde se pretende filtrar
             **/
            $(".contenedor_barra_filtro .filtro").keyup(function(){
                /**
                 * forzando la paginacion a un tamano superior para cuando se aplique el filtro esten todos los datos disponibles
                 **/
                $("#tabla_datos").tablesorterPager({container: $("#paginacion_jquery"),size:9999});
                //Almacenando el valor del campo input para filtrar
                var caja_filtro = $("#tabla_datos tbody tr");
                //Enviando a la funcion el filtro que se desea realizar
                filtrar_contenido($(this).val(),caja_filtro);

                //buscando la cantidad de elementos devuelve el filtro
                var x = $('#tabla_datos tbody tr').filter(function () {
                    return this.style.display != 'none'
                });
                //Enviando el numero del filtro al elemetno que muestra este
                $(".contenedor_barra_filtro .cantidad_filtro").text(x.length);

            });
            //filtrar por estado
            $(".contenedor_barra_filtro .categorias").change(function(){
                var valor = $(".contenedor_barra_filtro .categorias option:selected").text();
                $(".contenedor_barra_filtro .filtro").val(valor);
                var caja_filtro = $("#tabla_datos tbody tr");
                //Enviando a la funcion el filtro que se desea realizar
                filtrar_contenido(valor,caja_filtro);
            });
            /**
             * Paginacion
             **/
            $( function () {
                $( '#tabla_datos' ).tablesorter();
            });

            $(function() {
                $("#tabla_datos")
                    .tablesorter({widthFixed: true, widgets: ['zebra']})
                    .tablesorterPager({container: $("#paginacion_jquery"),size:20});
                /* Para establecer un numero de pagina por defecto se puede agregar lo siguiente
                    .tablesorterPager({container: $("#paginacion_jquery"),size:20});
                */
            });
            /**
             * Cambiar solicitud a estado EN_PROCESO
             **/
            $(document).on('click','.boton_iniciar_tarea',function(){
                var ticket_id = $(this).data('id_ticket');
                /**
                 * Cambiando el estado del ticket,
                 * Esta funcion esta en el archivo ticket js
                 **/
                $(this).hide(200);
                cambiar_estado_ticket(ticket_id,'EN_PROCESO');
            });
        });
    </script>
    <!-- FIN Paginacion -->
{% endblock %}


