{% extends 'base.html.twig' %}
{% block titulo %}Ticket {{ ticket.id }}{% endblock %}
{% block menu_tareas %}class="active"{% endblock %}
{% block body %}
    <div class="alinear_izquierda" style="margin: auto;">
    <span class="datos_ticket" data-id_ticket="{{ ticket.id }}" data-id_solicitante="{{ ticket.usuario }}" data-id_asignado="{{ ticket.usuarioAsignadoId }}" data-id_usuario_nota="{{ app.user.id }}" hidden></span>
        <h1>Asignacion # {{ ticket.id }} </h1>
        <span class="float_right"><strong>{{ ticket.fechaCreado|date("m/d/Y H:i:s") }}</strong></span>
        {% if app.user.tipoUsuario == 'TECNICO' %}
            {% if ticket.estado == "PENDIENTE" %}
                <button class="btn btn-primary boton_iniciar_tarea">INICIAR</button>
            {% elseif ticket.estado == "EN_PROCESO" %}
                <button class="btn btn-warning boton_terminar_tarea">TERMINAR</button>
            {% endif %}
        {% endif %}
        <div>
            <div>
                Solicitado por: <strong>{{ ticket.usuario }}</strong>
            </div>
            <div>
                Descripcion: {{ ticket.descripcion }}
            </div>
        </div>
        <div class="contenedor_notas">
            <h1>Notas</h1>
            <button class="btn btn-success float_right boton_agregar_nota"><span class="glyphicon glyphicon-book"></span>&Tab;Agregar nota</button>
            <div class="notas">
                <table class="table table-condensed table-hover table-responsive table-striped">
                    <thead>
                        <th>Fecha</th>
                        <th>Nota</th>
                        <th>Usuario</th>
                    </thead>
                    <tbody>

                    {% for nota in notas %}
                        <tr>
                            <td>{{ nota.fecha|date("m/d/Y H:i:s") }}</td>
                            <td>{{ nota.comentario }}</td>
                            <td>{{ nota.usuarioId.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal_agregar_nota centrar_contenido">
            <form action="#" method="POST" class="form_agregar_nota">
                <h1><label for="nota">Nota</label></h1>
                <textarea class="nota" name="nota" id="nota" cols="30" rows="5" style="width: 100%" required></textarea>
                <div>
                    <button type="submit" class="btn btn-primary">Agregar nota</button>
                    <button type="reset" class="btn btn-danger" onclick="$('.modal_agregar_nota').iziModal('close');">Cancelar</button>
                </div>
            </form>
        </div>
    <script>
        $(document).on('click','.boton_iniciar_tarea',function(){
            var ticket_id = $('.datos_ticket').data('id_ticket');
            /**
             * Cambiando el estado del ticket,
             * Esta funcion esta en el archivo ticket js
             **/
            cambiar_estado_ticket(ticket_id,'EN_PROCESO');
        });

        /**
         * modal agregar nota
         **/
        $(document).on('click', '.boton_agregar_nota', function (event) {
            event.preventDefault();
            $('.modal_agregar_nota').iziModal('open');
        });

        $(".modal_agregar_nota").iziModal(modal_data('Agregar nota','','#03A9F4'));

        $(document).on('submit','.form_agregar_nota',function(e){
           e.preventDefault();

            var id_ticket = $('.datos_ticket').data('id_ticket');
            var id_usuario_nota = $('.datos_ticket').data('id_usuario_nota');
            var nota = $('.form_agregar_nota .nota').val();

            /**
             * Invocando la funcion que guarda el comentario
             * Esta funcion esta en el archivo ticket js
             **/
            agregar_nota(id_ticket,id_usuario_nota,nota);
        });

    </script>
{% endblock %}