{% extends 'base.html.twig' %}
{% block titulo %}Lista de Usuarios{% endblock %}
{% block menu_usuarios %}class="active"{% endblock %}
{% block body %}
    <h1>Lista de Usuarios</h1>
    <table id="tabla_datos" class="tabla_usuarios table table-condensed table-hover table-responsive table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Username</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div class="alinear_derecha">
            <button class="btn btn-primary crear_usuario"><span class="glyphicon glyphicon-plus"></span>&Tab;Crear Usuario</button>
        </div>
        <br>
            {% for usuario in usuarios %}
                <tr class="{{ usuario.id }}">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.username }}</td>
                    {% if usuario.tipoUsuario == 'ROLE_ADMIN' %}
                        <td>TECNICO</td>
                    {% elseif usuario.tipoUsuario == 'ROLE_USER' %}
                        <td>NORMAL</td>
                    {% endif %}

                    <td>
                        <a class="btn btn-primary btn-xs" href="{{ path('editar_usuario',{'id' : usuario.id}) }}"><span class="glyphicon glyphicon-edit"></span>&Tab;Editar</a>
                        <button onclick="eliminar('{{ usuario.id }}')" class="btn btn-danger btn-xs" href="{{ path('eliminar_usuario',{'id' : usuario.id}) }}"><span class="glyphicon glyphicon-remove"></span>&Tab;eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Paginacion -->
    <div class="contenedor_paginacion_jquery">
        <div id="paginacion_jquery" class="paginacion_jquery">
            <form>
                <span class="first fa fa-angle-double-left boton_paginacion_jquery texto_blanco" title="Primera"></span>
                <span class="prev glyphicon glyphicon-menu-left boton_paginacion_jquery texto_blanco" title="Anterior"></span>
                <input type="text" class="pagedisplay texto_negrita" size="8"/>
                <span class="next glyphicon glyphicon-menu-right boton_paginacion_jquery texto_blanco" title="Siguiente"></span>
                <span class="last fa fa-angle-double-right boton_paginacion_jquery texto_blanco" title="Ultima"></span>
                <select class="pagesize seleccion texto_negrita">
                    <option value="20">Ver..</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="80">80</option>
                    <option value="150">150</option>
                    <option value="500">500</option>
                    <option value="9999">Todo</option>
                </select>
                <strong>Total : </strong><span id="total_filas">{{ usuarios|length }}</span>
            </form>
        </div>
    </div>
      <div class="modal_crear_usuario centrar_contenido formulario">
          {{ form_start(form,{ 'attr':{'class':'formulario_crear_usuario'}}) }}
          {{ form_widget(form) }}
          <div class="info_contrasena"></div>
          <div class="input">
              <input type="submit" name="crear_usuario" class="submit_crear_usuario btn btn-primary" value="Crear Usuario" disabled>
          </div>
          {{ form_end(form) }}
        </div>
    <script>
        $(document).on('keyup','.contrasena,.contrasena2',function(){
            var contrasena1 = $('.contrasena').val();
            var contrasena2 = $('.contrasena2').val();
            if(contrasena1 == contrasena2){
                $('.submit_crear_usuario').removeAttr('disabled');
                $('.info_contrasena').empty().append('<span class="bg-success">Contraseña valida</span>');
            }else{
                $('.submit_crear_usuario').prop('disabled','disabled');
                $('.info_contrasena').empty().append('<span class="bg-danger">Contraseña no valida</span>');
            }
        });
        /**
         * Paginacion
         **/
        $(document).ready(function(){
            $( function () {
                $( '#tabla_datos' ).tablesorter();
            });

            $(function() {
                $("#tabla_datos")
                    .tablesorter({widthFixed: true, widgets: ['zebra']})
                    .tablesorterPager({container: $("#paginacion_jquery"),size:20});
                /* Para establecer un numero de pagina por defecto se puede agregar lo siguiente
                    .tablesorterPager({container: $("#paginacion_jquery"),size:20});
                */
            });
        });
    $(document).on('submit','.formulario_crear_usuario',function(e){
            e.preventDefault();
            $('.submit_crear_usuario').prop('disabled','disabled');
            crear_usuario();
    });
        function eliminar(id){
            $.ajax({
                url:Routing.generate('eliminar_usuario', {id : id}),
                type:'DELETE',
                success:function(response){
                   //Eliminando el tr del usuario eliminado
                    $('.'+id).remove();
                    desplegar_notificacion('Usuario eliminado');
                },
                error:function(err){
                    console.log(err.responseText);
                }
            });
        }
        function crear_usuario(){

            var nombre = $('.nombre').val();
            var email = $('.username').val();
            var contrasena = $('.contrasena').val();
            var tipo_usuario = $('.tipo_usuario input[type="radio"]:checked').val();

            $.ajax({
                url:Routing.generate('guardar_usuario'),
                type:'POST',
                data:JSON.stringify({nombre: nombre, username: email, contrasena: contrasena,tipo_usuario: tipo_usuario}),
                success:function(response){
                    //Cerrando el modal cuando la respuesta sea valida
                    $('.modal_crear_usuario').iziModal('close');
                    //Desplegando notificacion
                    desplegar_notificacion('Usuario creado');
                },
                error:function(err){
                    desplegar_notificacion('Error al crear el usuario, es probable que ya exista','error');
                    console.log(err.responseText);
                }
            });
        }
    </script>
{% endblock %}


