{% extends 'base.html.twig' %}
{% block titulo %}Lista de Usuarios{% endblock %}
{% block menu_usuarios %}class="active"{% endblock %}
{% block body %}
    <h1>Lista de Usuarios</h1>
    <table class="tabla_usuarios table table-condensed table-hover table-responsive table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Username</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div class="alinear_derecha">
            <button class="btn btn-primary crear_usuario"><span class="glyphicon glyphicon-plus"></span>&Tab;Crear Usuario</button>
        </div>

            {% for usuario in usuarios %}
                <tr class="{{ usuario.id }}">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{ path('editar_usuario',{'id' : usuario.id}) }}"><span class="glyphicon glyphicon-edit"></span>&Tab;Editar</a>
                        <button onclick="eliminar('{{ usuario.id }}')" class="btn btn-danger btn-xs" href="{{ path('eliminar_usuario',{'id' : usuario.id}) }}"><span class="glyphicon glyphicon-remove"></span>&Tab;eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
      <div class="modal_crear_usuario centrar_contenido formulario">
            <form action="#" method="POST" class="formulario_crear_usuario">
               <div class="input">
                   <label for="nombre">Nombre completo <span class="text-muted"><small>(Obligatorio)</small></span></label>
                    <input type="text" name="nombre" class="nombre" id="nombre" placeholder="Albert Eduardo Hidalgo Taveras" autocomplete="off" required>
               </div>
                <div class="input">
                    <label for="email">Email <span class="text-muted"><small>(Obligatorio)</small></span></label></label>
                    <input type="email" name="username" class="email" id="email" placeholder="alhidalgo@edenorte.com.do" autocomplete="off" required>
                </div>
                <div class="input">
                    <label for="username">Contraseña <span class="text-muted"><small>(Obligatorio)</small></span></label></label>
                    <input type="password" name="contrasena" class="contrasena" id="contrasena" placeholder="**********" autocomplete="off" required>
                </div>
               <div class="input" style="text-align: left; display: inline-block;">
                   <div><label>Tipo de Usuario</label></div>
                   <input type="radio" name="tipo_usuario" value="NORMAL" class="tipo_usuario" id="tipo_normal" checked>
                   <label for="tipo_normal">NORMAL</label>
                   <input type="radio" name="tipo_usuario" value="TECNICO" class="tipo_usuario" id="tipo_tecnico">
                   <label for="tipo_tecnico">TECNICO</label>
               </div>
                <div class="input">
                    <input type="submit" name="crear_usuario" class="submit_crear_usuario btn btn-primary" value="Crear Usuario">
                </div>
            </form>
        </div>
    <script>
    $(document).on('submit','.formulario_crear_usuario',function(e){
            e.preventDefault();
            crear_usuario();
    });
        function eliminar(id){
            $.ajax({
                url:Routing.generate('eliminar_usuario', {id : id}),
                type:'DELETE',
                success:function(response){
                   //Eliminando el tr del usuario eliminado
                    $('.'+id).remove();
                    desplegar_notificacion('Usuario eliminado');
                },
                error:function(err){
                    console.log(err.responseText);
                }
            });
        }
        function crear_usuario(){

            var nombre = $('.nombre').val();
            var email = $('.email').val();
            var contrasena = $('.contrasena').val();
            var tipo_usuario = $('input[name="tipo_usuario"]:checked').val();

            $.ajax({
                url:Routing.generate('guardar_usuario'),
                type:'POST',
                data:JSON.stringify({nombre: nombre, username: email, contrasena: contrasena,tipo_usuario: tipo_usuario}),
                success:function(response){
                    //Cerrando el modal cuando la respuesta sea valida
                    $('.modal_crear_usuario').iziModal('close');
                    //Desplegando notificacion
                    desplegar_notificacion('Usuario creado');
                   console.log(response);
                },
                error:function(err){
                    desplegar_notificacion('Error al crear el usuario, es probable que ya exista','error');
                    console.log(err.responseText);
                }
            });
        }
    </script>
{% endblock %}


